/* TODO: Build layout for campuses page */
.campuses .campuses-container {
  display: flex;
  align-items: flex-start;
}

.campuses .cards {
  display:grid;
  /*create the column*/
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  flex-grow: 1;
}

@media(max-width: 992px) {
  .campuses .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .campuses .cards {
    grid-template-columns: 1fr;
  }
}

.campuses #map {
  position: sticky;
  top: 0;
}